RewriteEngine On
RedirectMatch "/icons/(.*)$" "http://www.manueltransfeld.de/public/projects/plan1800/res/icons/$1"
RedirectMatch "/allicons/(.*)$" "http://www.manueltransfeld.de/public/projects/plan1800/res/allicons/$1"
RedirectMatch "/images/(.*)$" "http://www.manueltransfeld.de/public/projects/plan1800/res/images/$1"

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 500 seconds"
    ExpiresByType image/png "access plus 14 days"
    ExpiresByType text/css "access plus 14 days"
    ExpiresByType text/javascript "access plus 14 days"
    ExpiresByType application/x-javascript "access plus 14 days"
    ExpiresByType application/javascript "access plus 14 days"
</IfModule>