body.bg-secondary {
    color: #ffffff !important;
}

.GoodItem {
    /* same duration for highlight for fade-out */
    transition: all .2s ease-out;
    &.hi-neededBy {
        box-shadow: inset 0 0 2px #98f9c5, 0 0 5px #98f9c5;
        //background-color: #98f9c5;
        //transition: all 1s ease-in-out;
        transition: all .1s ease-out; /*debug only*/
    }
    &.hi-needs {
        box-shadow: inset 0 0 2px #f98e44, 0 0 5px #f98e44;
        //background-color: #f98e44;
        //transition: all 1s ease-in;
        transition: all .1s ease-out; /*debug only*/
    }
    &.hi-self {
        box-shadow: inset 0 0 5px 0 #a4b7f9;
        transition: all .1s ease-out;
    }
}

.form-inline .form-control.BuildingInput {
    //background-color: rgba(190,190,190,0.2);
    background-color: rgba(255,255,75,0.2);
    width: 40px;

    &[disabled] {
        background-color: rgba(175, 175, 175, 0.31);
    }

    body.bg-secondary & {
        //color: rgb(164, 169, 175);
        color: rgb(33, 37, 41);
    }

    &.overlay-boost {
        background-repeat: no-repeat;
        background-position: 2px 2px;
        background-size: 10px 13px;

        &.boost-up {
            background-image: url("icons/overlays/productivity_up.png") !important;
        }
        &.boost-down {
            background-image: url("icons/overlays/productivity_down.png") !important;
        }
    }
}

.overlay-wrapper {
    position: relative;

    img {
        position: absolute;
        width: 16px;
        &.trade-icon{
            top: -4px;
            left: -8px;
        }
        &.electricity-icon {
            filter: drop-shadow(0 0 0 black);

            &.el-some {
                filter: sepia(1) drop-shadow(0 0 0 black);
            }
            &.el-on.el-off {
                filter: sepia(1) saturate(300%) hue-rotate(-50deg) drop-shadow(0 0 0px red);
            }
            top: -2px;
            left: -15px;
        }
    }
}

/* hide spin box / number controls */
input[type=number] {
    -moz-appearance:textfield; /* Firefox */

    //noinspection ALL
    &-webkit-inner-spin-button,
    &-webkit-outer-spin-button {
        -webkit-appearance: none; /* Chrome */
        margin: 0;
    }
}

.form-control.is-invalid, .was-validated .form-control:invalid  {
    background-image: none !important;
    padding: initial !important;
}

.need {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.prohibited {
        filter: sepia(1) saturate(300%) hue-rotate(-50deg) drop-shadow(0 0 1px red);
        //filter: grayscale(90%) drop-shadow(0px 1px 2px #ff5f42);
    }
}
.locked {
    &.producer,
    &.need {
        cursor: inherit;
        //filter: blur(1px) grayscale(90%);
        filter: grayscale(100%);
        opacity: 0.5;
        @-moz-document url-prefix() {
            //filter: blur(0.5px) grayscale(90%);
        }
    }
}

